body {
    background-color: rgb(151, 118, 199)
}

header {
    background-color: rgb(151, 118, 199);
    border-bottom: 6px solid white;
}

.card {
    background-color: rgb(160, 98, 193);
    color: white;
}

.mr-2 {
    margin-top: 40px;
}

.px-2 {
    margin-top: 17px;
    margin-right: 10px;
}

.mr-1 {
    margin-top: 2.7%;
    font-size: 50px;
}

.mr-3 {
    margin-top: 100px;
    width: 270px;
}

.mr-4 {
    margin-top: 10%;
}

.pr-4 {
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-size: 24px;
}

.navbar-brand {
    color: white
}

.mr-5 {
    margin-top: 20%;
}

.btn-circle {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    white-space: normal;
}

.custom-navbar {
    background-color: rgb(151, 118, 199);
    border-bottom: 20px solid white;
}

.mr-6 {
    margin-top: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

th {
    color: white;
}

tr {
    color: white;
}

td {
    color: white;
}

tbody {
    color: white;
}

img {

}

.cdod {
width: 125px;
height: 100px;
}
